@model IEnumerable<Recepcion.Models.Ingreso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped" id="table-ingresos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteDni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteDni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
  <script>
    $(document).ready(() => {
      $('#table-ingresos').DataTable({
        language: {
          "decimal": "",
          "emptyTable" : "No Hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoFiltered": "(Filtrado de _Max_ total entradas)",
          "infoPostFix": "",
          "thousands" : ",",
          "lengthMenu" : "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search" : "Buscar",
          "zeroRecords":"Sin resultados encontrados",
          "paginate" : {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous" : "Anterior"
          }
        }
      })
    })
  </script>
}